@media screen and (max-width: 1210px){
	div.projects img{
		transform-origin: 50% 50% -520px
	}
	
	button.carouselButton{
		margin-top: 50px
	}
}

.carousel{
	text-align : center;
	perspective: 8000px;
	margin-top: 120px
}

.projects{
	transform-style: preserve-3d;
	height: 300px;
	transform-origin: 50% 50% -500px;
	transition: 1s
}

.projectImage{
	overflow-x: hidden;
	margin-top: 15px;
	height: 500px; 
	width: 35%;
	border-radius: 20px;
	position: absolute;
	left: 32%;
	transform-origin: 50% 50% -980px
}

.carousel-text{
	font-family: Verdana;
	color: white;
	text-shadow: 1px 1px 2px #44261fff, 0 0 5px #44261fff;
	padding: 8px 12px;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 10px;
	top: 150px;
	overflow-wrap: normal
}

/*.projects img{
	margin-top: 15px;
	max-height: 600px; 
	width: 35%;
	border-radius: 20px;
	position: absolute;
	left: 32%;
	transform-origin: 50% 50% -980px
}*/

.projects img:nth-child(1){transform: rotateY(0deg)}
.projects img:nth-child(2){transform: rotateY(40deg)}
.projects img:nth-child(3){transform: rotateY(80deg)}
.projects img:nth-child(4){transform: rotateY(120deg)}
.projects img:nth-child(5){transform: rotateY(160deg)}
.projects img:nth-child(6){transform: rotateY(200deg)}
.projects img:nth-child(7){transform: rotateY(240deg)}
.projects img:nth-child(8){transform: rotateY(280deg)}
.projects img:nth-child(9){transform: rotateY(320deg)}

.carouselButton{
	position: absolute;
	margin-top: 260px;
	font-size: 90px;
	border: none;
	background-color: transparent;
	color: #81cb8cff;
	cursor: pointer
}

.carouselLineSegment{
	position: absolute;
	margin-top: 220px;
	font-size: 120px;
	color: white;
	cursor: pointer
}

#carouselTitle{
	font-family: Verdana; 
	font-size: 60px; 
	color: #81cb8cff;
	text-shadow: 1px 1px 2px #44261fff
}

#previousButton{
	left: 220px;
	transform: rotate(190deg)
}

#nextButton{
	right: 220px;
	transform: rotate(170deg)
}


#carouselLeftLineSegment1{
	left: 419px
}

#carouselLeftLineSegment2{
	left: 539px
}

#carouselLeftLineSegment3{
	left: 659px
}

#carouselLeftLineSegment4{
	left: 779px
}

#carouselCenterLineSegment{
	left: 900px;
	color: #81cb8cff;
	z-index: 1
}

#carouselRightLineSegment1{
	right: 419px
}

#carouselRightLineSegment2{
	right: 539px
}

#carouselRightLineSegment3{
	right: 659px
}

#carouselRightLineSegment4{
	right: 779px
}

/*#projectImage1{transform: rotateY(0deg)}
#projectImage2{transform: rotateY(40deg)}
#projectImage3{transform: rotateY(80deg)}
#projectImage4{transform: rotateY(120deg)}
#projectImage5{transform: rotateY(160deg)}
#projectImage6{transform: rotateY(200deg)}
#projectImage7{transform: rotateY(240deg)}
#projectImage8{transform: rotateY(280deg)}
#projectImage9{transform: rotateY(320deg)}*/